# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Data and Logs
yes/
no/
augmented data/
logs/
static/uploads/

# Models
# models/ (Removed so the model is uploaded to GitHub and Hugging Face)

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
